* {
    box-sizing: border-box;
}

#header-nav {
    backgorund-color: drakgrey;
    border-radius: 0;
    border: 0;
    border: solid black 2px;
}

.navbar-brand {       
    padding-left: 10px;  
}

#nav-list{
    margin-top: 0px;
}

#nav-list a {
    border: solid black 2px;
    color: lawngreen;
    text-align: center;
    background-color: white;
}

.navbar-brand h1 {    
    font-size: 1.5em;
 
    margin-top: 0;
    margin-left: 15px;
    margin-bottom: 0;
}

.container-fluid{
    border: solid black 1px;
    margin-top: 15px;
    background-color: grey;
}
.title {
    font-size: 38px;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.top{       
    margin: 10px;
    position: relative;
    text-align: center;
}
